.App {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 50px;
  grid-gap: 15px;
  text-align: center;
  border: 1px solid black;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  margin: 0 auto;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* 2. Typography Styles
======================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 64px;
  line-height: 93px;
}

/* 3. Main Styles
======================================== */

.Middle {
  grid-column: 6 / 10;
  grid-row: 15 / span 15;
}
